name: Publish to npm on new node tag

on:
  push:
    tags: ["node*"]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-node@v6.2.0
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org
      - run: cd node.js && npm ci
      - run: cd node.js && npm run build
      - run: cd node.js && npm publish --provenance
