name: Publish to npm on new gulp tag

on:
  push:
    tags: ["gulp*"]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-node@v6.2.0
        with:
          node-version: 'lts/*'
          registry-url: "https://registry.npmjs.org"
      - run: npm install -g npm
      - run: cd gulp && npm ci
      - run: cd gulp && npm publish --provenance
