name: Sync README.md between <gulp|node.js>/ & <gulp|node.js>/docs/, then ** to adamlui/js-utils/minify.js

on:
  push:
    branches: [main]
    paths: ["**", "!.*"]

permissions:
  contents: read

jobs:
  build:
    if: (github.repository == 'adamlui/minify.js') && (github.event.commits[0].committer.username != 'kudo-sync-bot')
    runs-on: ubuntu-latest
    env:
      TZ: PST8PDT

    steps:

      - name: Checkout adamlui/minify.js
        uses: actions/checkout@v6.0.0
        with:
          token: ${{ secrets.REPO_SYNC_PAT }}
          path: adamlui/minify.js
          fetch-depth: 2

      - name: Checkout adamlui/js-utils
        uses: actions/checkout@v6.0.0
        with:
          token: ${{ secrets.REPO_SYNC_PAT }}
          repository: adamlui/js-utils
          path: adamlui/js-utils

      - name: Sync README.md between gulp/ & gulp/docs
        run: |
          cd ${{ github.workspace }}/adamlui/minify.js

          # Init paths/content/mod timestamps
          root_readme="./gulp/README.md"
          root_readme_content=$(git show HEAD:"$root_readme")
          root_readme_modified=$(git log -1 --format="%ct" -- "$root_readme")
          docs_readme="./gulp/docs/README.md"
          docs_readme_content=$(git show HEAD:"$docs_readme")
          docs_readme_modified=$(git log -1 --format="%ct" -- "$docs_readme")

          # Perform syncs of diff READMEs
          if [[ "$root_readme_content" != "$docs_readme_content" ]] ; then
            echo "readme_updated=true" >> $GITHUB_ENV
            if (( $root_readme_modified > $docs_readme_modified )) ; then
              cp -f "$root_readme" "$docs_readme"
              echo "Copied $root_readme to $docs_readme"
            elif (( $docs_readme_modified > $root_readme_modified )) ; then
              cp -f "$docs_readme" "$root_readme"
              echo "Copied $docs_readme to $root_readme"
            fi
          fi

      - name: Sync README.md between node.js/ & node.js/docs
        run: |
          cd ${{ github.workspace }}/adamlui/minify.js

          # Init paths/content/mod timestamps
          root_readme="./node.js/README.md"
          root_readme_content=$(git show HEAD:"$root_readme")
          root_readme_modified=$(git log -1 --format="%ct" -- "$root_readme")
          docs_readme="./node.js/docs/README.md"
          docs_readme_content=$(git show HEAD:"$docs_readme")
          docs_readme_modified=$(git log -1 --format="%ct" -- "$docs_readme")

          # Perform syncs of diff READMEs
          if [[ "$root_readme_content" != "$docs_readme_content" ]] ; then
            echo "readme_updated=true" >> $GITHUB_ENV
            if (( $root_readme_modified > $docs_readme_modified )) ; then
              cp -f "$root_readme" "$docs_readme"
              echo "Copied $root_readme to $docs_readme"
            elif (( $docs_readme_modified > $root_readme_modified )) ; then
              cp -f "$docs_readme" "$root_readme"
              echo "Copied $docs_readme to $root_readme"
            fi
          fi

      - name: Sync ** to adamlui/js-utils/minify.js/
        run: |
          rsync -avhr --delete --exclude '.*' \
            ${{ github.workspace }}/adamlui/minify.js/ \
            ${{ github.workspace }}/adamlui/js-utils/minify.js/

      - name: Escape backticks in commit msg
        env:
          COMMIT_MSG: ${{ github.event.head_commit.message }}
        run: |
          echo "ESCAPED_MSG<<EOF" >> $GITHUB_ENV
          echo "$COMMIT_MSG" | sed 's/`/\`/g' >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Config committer
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          GPG_PRIVATE_ID: ${{ secrets.GPG_PRIVATE_ID }}
        run: |
          gpg --batch --import <(echo "$GPG_PRIVATE_KEY")
          git config --global commit.gpgsign true
          git config --global user.name "kudo-sync-bot"
          git config --global user.email "auto-sync@kudoai.com"
          git config --global user.signingkey "$GPG_PRIVATE_ID"

      - name: Push changes to adamlui/minify.js
        if: env.readme_updated
        run: |
          cd ${{ github.workspace }}/adamlui/minify.js
          git pull && git add .
          git commit -n -m "$ESCAPED_MSG ↞ [auto-sync from https://github.com/adamlui/minify.js]" || true
          git push

      - name: Push changes to adamlui/js-utils
        run: |
          cd ${{ github.workspace }}/adamlui/js-utils
          git pull && git add .
          git commit -n -m "$ESCAPED_MSG ↞ [auto-sync from https://github.com/adamlui/minify.js]" || true
          git push
